In [528]:
import pandas as pd

In [529]:
nb = pd.read_csv("nb.csv")

In [530]:
count = pd.read_csv("count.csv")

In [531]:
count = count[(count != 0).all(1)]

In [532]:
nxb = pd.merge(nb, count, how="inner")

In [533]:
p2 = pd.DataFrame([["Potsdam 2", 175710, 932, 486, 44, "Präsi"], ["Potsdam 1", 175710, 932, 386, 44, "Präsi"]], columns=list(nxb.columns))

In [534]:
nxb = nxb.append(p2)

In [535]:
def to_factor(x):
    #f = round(x / 500.0) * 500.0
    f = (round(x, -3)/1000)
    return 1/f

In [536]:
nxb['factor'] = nxb.apply(lambda x: to_factor(x.density), axis=1)

In [537]:
nxb['h_per_bike'] = nxb.apply(lambda x: x.population / x.bikes, axis=1)

In [538]:
nxb['h_per_bike&density'] = nxb.apply(lambda x: (x.factor * x.h_per_bike), axis=1)

In [539]:
nextbike = nxb[['city', 'population', 'density', 'bikes', 'stations', 'h_per_bike', 'h_per_bike&density']].sort_values("h_per_bike&density").reset_index(drop=True)

In [540]:
nextbike

,city,population,density,bikes,stations,h_per_bike,h_per_bike&density
0,München,1456039,4686,3200,1,455.012187,91.002437
1,Berlin,3613495,4052,5000,1,722.699000,180.674750
2,Bonn,325490,2307,900,100,361.655556,180.827778
3,Gießen,87343,1204,360,1,242.619444,242.619444
4,Kassel,200736,1880,400,56,501.840000,250.920000
5,Köln,1080394,2668,1400,1,771.710000,257.236667
6,Leverkusen,163577,2074,300,40,545.256667,272.628333
7,Leipzig,581980,1954,1000,1,581.980000,290.990000
8,Nürnberg,515201,2764,500,1,1030.402000,343.467333
9,Potsdam 2,175710,932,486,44,361.543210,361.543210
10,Potsdam 1,175710,932,386,44,455.207254,455.207254
11,Augsburg,292851,1994,300,30,976.170000,488.085000
12,Potsdam,175710,932,286,44,614.370629,614.370629
13,Erfurt,212988,789,100,10,2129.880000,2129.880000
14,Hamm,179185,791,40,7,4479.625000,4479.625000

In [542]:
nextbike.sort_values("h_per_bike").reset_index(drop=True)

,city,population,density,bikes,stations,h_per_bike,h_per_bike&density
0,Gießen,87343,1204,360,1,242.619444,242.619444
1,Potsdam 2,175710,932,486,44,361.543210,361.543210
2,Bonn,325490,2307,900,100,361.655556,180.827778
3,München,1456039,4686,3200,1,455.012187,91.002437
4,Potsdam 1,175710,932,386,44,455.207254,455.207254
5,Kassel,200736,1880,400,56,501.840000,250.920000
6,Leverkusen,163577,2074,300,40,545.256667,272.628333
7,Leipzig,581980,1954,1000,1,581.980000,290.990000
8,Potsdam,175710,932,286,44,614.370629,614.370629
9,Berlin,3613495,4052,5000,1,722.699000,180.674750
10,Köln,1080394,2668,1400,1,771.710000,257.236667
11,Augsburg,292851,1994,300,30,976.170000,488.085000
12,Nürnberg,515201,2764,500,1,1030.402000,343.467333
13,Erfurt,212988,789,100,10,2129.880000,2129.880000
14,Hamm,179185,791,40,7,4479.625000,4479.625000